.one {
    position: absolute;
}

.three {
    position: relative;
    transform: 
        translate(-100px, -100px) 
        rotate(180deg);
}

.two {
    position: absolute;
    top: 100px;
    left: 100px;
}