/* CSS Mock Exercises */

/* Uncomment the import line to switch between exercises */

/* Exercise 1 */
@import "exercise1.css";

/* Exercise 2 */
/* @import "exercise2.css"; */

/* Exercise 3 */
/* @import "exercise3.css"; */

/* Exercise 4 */
/* @import "exercise4.css"; */

/* Exercise 5 */
@import "exercise5.css";


body {
  margin: 0;
  border: 5px solid black;
  height: 100vh;
  position: relative;
}

.one {
  width: 400px;
  height: 400px;
  background-color: red;
}

.two {
  width: 300px;
  height: 300px;
  background-color: yellow;
}

.three {
  width: 200px;
  height: 200px;
  background-color: green;
}

.four {
  width: 100px;
  height: 100px;
  background-color: blue;
}
